html, body {
  min-height: 100%;
  font-weight: 300;
  line-height: 1.5;
  margin-left: 2rem;
}

img {
	border: 5px solid #FFF;
}

h1 {
	text-align: center;
}

p {
color: black
}
body {
	height: 100%;
	text-align: left;
	width: 80%;
	background-color: #66CCCC;
}

h1 {
  padding: 0px; 
}
h2 {
  padding: 0px;
  margin-bottom: -1rem;
}
h3 {
  padding: 0px; 
}
h4 {
  padding: 0px; 
}
h5 {
  padding: 0px; 
}
