html, body {
  min-height: 100%;
  font-weight: 300;
  line-height: 1.5;
  margin-left: 2rem;
  font-family: Arial, sans-serif; 
}

hr {
	color:#66CCCC;
	background-color:#66CCCC;
	height: 200px;
}

img {
	border: 5px solid #FFF;
}

p {
color: black
margin-left: 4rem;
}
body {
	height: 100%;
	text-align: left;
	width: 80%;
	background-color: #E8E8E8;
}

h1 {
  padding: 0px; 
  text-align: center;
}

h2 {
  padding: 0px;
  margin-bottom: -1rem;
  margin-top: 1.5rem;
  color: #009999;
}
h3 {
  padding: 0px; 
  margin-bottom: -1rem;
  margin-top: 2rem;
}
h4 {
  padding: 0px; 
  margin-bottom: -1rem;
}
h5 {
  padding: 0px; 
}
