html, body {
  min-height: 100%;
  font-weight: 300;
  line-height: 1.25;
  margin-left: 2rem;
  font-family: Arial, sans-serif; 
  transform: scale(1.1);
   transform-origin: -50% -50%;
}

hr {
	color:#66CCCC;
	background-color:#66CCCC;
	height: 3px;
	border: 0 none;
	margin-top: 1.5rem;
}

a href {
	text-align: center;
	margin-top: 3rem;
}

img {
	border: 10px solid #FFF;
    display: block;
    margin: 0 auto;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

p {
color: black
margin-left: 4rem;
}

body {
	height: 100%;
	text-align: left;
	width: 80%;
	background-color: #E8E8E8;
}

h1 {
  padding: 0px; 
  text-align: center;
  color: #009999;
  font-size: 48px;
}

h2 {
  padding: 0px;
  margin-bottom: -1rem;
  margin-top: 2rem;
  color: #009999;
}
h3 {
  padding: 0px; 
  margin-bottom: -1rem;
  margin-top: 2rem;
}
h4 {
  padding: 0px; 
  margin-bottom: -1rem;
}
h5 {
  padding: 0px; 
}
